adf-assessment11/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-assessment11"
		},
		"SqlServer1_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'SqlServer1'"
		},
		"db_to_snowflake_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'db_to_snowflake'"
		},
		"local_server_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'local_server'"
		},
		"SqlServer1_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "DESKTOP-SDMB9NV"
		},
		"SqlServer1_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "ride-sharing"
		},
		"SqlServer1_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "sa"
		},
		"blob_connection_sasUri": {
			"type": "secureString",
			"metadata": "Secure string for 'sasUri' of 'blob_connection'"
		},
		"db_to_snowflake_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "RIDE_SHARING_DB"
		},
		"db_to_snowflake_properties_typeProperties_role": {
			"type": "string",
			"defaultValue": "ACCOUNTADMIN"
		},
		"db_to_snowflake_properties_typeProperties_host": {
			"type": "string",
			"defaultValue": "LZLTXPB-FW41340.snowflakecomputing.com"
		},
		"linkedService1_sasUri": {
			"type": "secureString",
			"metadata": "Secure string for 'sasUri' of 'linkedService1'"
		},
		"local_server_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "DESKTOP-SDMB9NV"
		},
		"local_server_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "ride-sharing"
		},
		"local_server_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "kavin11"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/local_server_to_snowflake')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SnowflakeV2Sink",
								"importSettings": {
									"type": "SnowflakeImportCopyCommand"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "local_sql",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dbt_to_snowflake",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Foreachactivity",
						"type": "ForEach",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@variables('filename')",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy data2",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "SnowflakeV2Sink",
											"importSettings": {
												"type": "SnowflakeImportCopyCommand"
											}
										},
										"enableStaging": true,
										"stagingSettings": {
											"linkedServiceName": {
												"referenceName": "linkedService1",
												"type": "LinkedServiceReference"
											},
											"path": "blob"
										}
									},
									"inputs": [
										{
											"referenceName": "local_sql",
											"type": "DatasetReference",
											"parameters": {
												"name": {
													"value": "@item()",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "dbt_to_snowflake",
											"type": "DatasetReference",
											"parameters": {
												"output": {
													"value": "@variables('filename')",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "Copy data2_copy1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SnowflakeV2Sink",
								"importSettings": {
									"type": "SnowflakeImportCopyCommand"
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "linkedService1",
									"type": "LinkedServiceReference"
								},
								"path": "blob"
							}
						},
						"inputs": [
							{
								"referenceName": "local_sql",
								"type": "DatasetReference",
								"parameters": {
									"name": "Country_Region"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "dbt_to_snowflake",
								"type": "DatasetReference",
								"parameters": {
									"output": "COUNTRY_REGION"
								}
							}
						]
					},
					{
						"name": "Copy data2_copy1_copy1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy data2_copy1",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SnowflakeV2Sink",
								"importSettings": {
									"type": "SnowflakeImportCopyCommand"
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "linkedService1",
									"type": "LinkedServiceReference"
								},
								"path": "blob"
							}
						},
						"inputs": [
							{
								"referenceName": "local_sql",
								"type": "DatasetReference",
								"parameters": {
									"name": "Ride_Sharing_customers"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "dbt_to_snowflake",
								"type": "DatasetReference",
								"parameters": {
									"output": "CUSTOMERS"
								}
							}
						]
					},
					{
						"name": "Copy data2_copy1_copy2",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy data2_copy1_copy1",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SnowflakeV2Sink",
								"importSettings": {
									"type": "SnowflakeImportCopyCommand"
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "linkedService1",
									"type": "LinkedServiceReference"
								},
								"path": "blob"
							}
						},
						"inputs": [
							{
								"referenceName": "local_sql",
								"type": "DatasetReference",
								"parameters": {
									"name": "Ride_Sharing_product"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "dbt_to_snowflake",
								"type": "DatasetReference",
								"parameters": {
									"output": "PRODUCTS"
								}
							}
						]
					},
					{
						"name": "Copy data2_copy1_copy2_copy1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy data2_copy1_copy2",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SnowflakeV2Sink",
								"importSettings": {
									"type": "SnowflakeImportCopyCommand"
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "linkedService1",
									"type": "LinkedServiceReference"
								},
								"path": "blob"
							}
						},
						"inputs": [
							{
								"referenceName": "local_sql",
								"type": "DatasetReference",
								"parameters": {
									"name": "Ride_Sharing_transaction"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "dbt_to_snowflake",
								"type": "DatasetReference",
								"parameters": {
									"output": "TRANSACTION"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"filename": {
						"type": "Array",
						"defaultValue": [
							"Ride_Sharing_customers",
							"Ride_Sharing_products",
							"Ride_Sharing_transaction"
						]
					}
				},
				"annotations": [],
				"lastPublishTime": "2025-03-14T04:11:47Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/local_sql')]",
				"[concat(variables('factoryId'), '/datasets/dbt_to_snowflake')]",
				"[concat(variables('factoryId'), '/linkedServices/linkedService1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dbt_to_snowflake')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "db_to_snowflake",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"output": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "SnowflakeV2Table",
				"schema": [],
				"typeProperties": {
					"schema": "RAW",
					"table": "COUNTRY_REGION"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/db_to_snowflake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/local_sql')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SqlServer1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"name": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "company",
						"type": "varchar"
					},
					{
						"name": "customer_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "customername",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Country_Region"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SqlServer1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServer1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('SqlServer1_properties_typeProperties_server')]",
					"database": "[parameters('SqlServer1_properties_typeProperties_database')]",
					"encrypt": "optional",
					"trustServerCertificate": true,
					"authenticationType": "SQL",
					"userName": "[parameters('SqlServer1_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('SqlServer1_password')]"
					}
				},
				"connectVia": {
					"referenceName": "integrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/integrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/blob_connection')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"sasUri": "[parameters('blob_connection_sasUri')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/db_to_snowflake')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SnowflakeV2",
				"typeProperties": {
					"authenticationType": "Basic",
					"accountIdentifier": "FW41340",
					"user": "KAVIN11",
					"database": "[parameters('db_to_snowflake_properties_typeProperties_database')]",
					"warehouse": "COMPUTE_WH",
					"role": "[parameters('db_to_snowflake_properties_typeProperties_role')]",
					"host": "[parameters('db_to_snowflake_properties_typeProperties_host')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('db_to_snowflake_password')]"
					}
				},
				"connectVia": {
					"referenceName": "integrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/integrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/linkedService1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"sasUri": "[parameters('linkedService1_sasUri')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/local_server')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('local_server_properties_typeProperties_server')]",
					"database": "[parameters('local_server_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "Windows",
					"userName": "[parameters('local_server_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('local_server_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/integrationRuntime')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"description": "ir to connect with my local db",
				"typeProperties": {}
			},
			"dependsOn": []
		}
	]
}